<!DOCTYPE html>
<html>

<head>
    <% include ../partials/header.ejs %>
</head>

<body>

    <% include ../partials/nav.ejs %>

        <div class="jumbotron text-center">
            <div class="container">
                <h3>Hi Jack! Welcome to work. Press this button to check your order</h3>
                <a type="button" class="btn btn-lg btn-primary" href="/getOrder"><span class="glyphicon glyphicon-download"></span>Get Your Order</a>
            </div>
        </div>

        <div class="container">
            <form>
                <%rowsjson.forEach((item) => {%>
                    <div class="shadow p-3 mb-5 bg-white rounded">
                        <input type="checkbox"> Order time:
                        <%=item.order_time%>
                            <br> Expected Arrival Time:
                            <%=item.expected_time%>
                                <br> Address:
                                <%=item.address%>
                                    <br> Item:
                                    <%=item.items%>
                                        <br>

                    </div>
                    <% }); %>
            </form>
        </div>

</body>

</html>