<!DOCTYPE html>
<html>

<head>
    <% include ../partials/header.ejs %>
</head>

<body>

    <% include ../partials/nav.ejs %>

        <div class="jumbotron text-center">
            <div class="container">
                <h3>Hi Jack! Welcome to work. Press this button to check your order</h3>
                <a type="button" class="btn btn-lg btn-primary" href="/getOrder"><span class="glyphicon glyphicon-download"></span>Get Your Order</a>
            </div>
        </div>

        <div class="container">
            <form>
                <div class="shadow p-3 mb-5 bg-white rounded">
                    <input type="checkbox"> Order time:
                    <%=rows[0].order_time%>
                        <br> Expected Arrival Time:
                        <%=expected_time%>
                            <br> Address:
                            <%=address%>
                                <br> Item:
                                <%=items%><br>

                </div>
            </form>
        </div>

</body>

</html>